@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Geist';
  src: url('./assets/fonts/GeistVariableVF.woff2') format('woff2 supports variations');
  src: url('./assets/fonts/GeistVariableVF.woff2') format('woff2-variations');
  font-weight: 100 1000;
}

* {
  margin: 0;
  box-sizing: border-box;
  // font-family: 'Lato';
}
